Repository Paliy2/Project-alias, pull requests merged in 2021-12, with the labels that each got.

#34 Issue #33
  fire_services/fire_services-dao/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenEquipmentType_MenuItemDao.java
  fire_services/fire_services-dao/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenMain_MenuItemDao.java
  fire_services/fire_services-dao/src/main/java/project_alias/equipments/ui_actions/OpenEquipmentClassMasterActionDao.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/config/ApplicationDomain.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenEquipmentType_MenuItem.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenEquipmentType_MenuItemCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenMain_MenuItem.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/master/menu/actions/EquipmentClassMaster_OpenMain_MenuItemCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/producers/EquipmentTypeProducer.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/ui_actions/OpenEquipmentClassMasterAction.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/ui_actions/OpenEquipmentClassMasterActionCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/equipments/ui_actions/producers/OpenEquipmentClassMasterActionProducer.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/compound_master_menu/EquipmentClassMaster_OpenEquipmentType_MenuItem_CanAccess_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/compound_master_menu/EquipmentClassMaster_OpenMain_MenuItem_CanAccess_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/open_compound_master/OpenEquipmentClassMasterAction_CanOpen_Token.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/config/equipments/EquipmentClassWebUiConfig.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/config/equipments/EquipmentTypeWebUiConfig.java
  fire_services/fire_services-web-ui/src/main/java/project_alias/main/menu/equipments/MiEquipmentClassMaster_EquipmentType.java
Labels: Equipment

#36 Issue #14
  fire_services/fire_services-dao/src/main/java/project_alias/roles/RoleDao.java
  fire_services/fire_services-dao/src/test/java/project_alias/roles/RoleTest.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/config/ApplicationDomain.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/roles/Role.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/roles/RoleCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/open_simple_master/RoleMaster_CanOpen_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/persistent/Role_CanDelete_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/persistent/Role_CanSave_Token.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/WebUiConfig.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/config/roles/RoleWebUiConfig.java
  fire_services/fire_services-web-ui/src/main/java/project_alias/main/menu/roles/MiRole.java
Labels: Role

#38 #35 Created compount master for Vehicle Type and deleted the simple one
  fire_services/fire_services-dao/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenMain_MenuItemDao.java
  fire_services/fire_services-dao/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenVehicle_MenuItemDao.java
  fire_services/fire_services-dao/src/main/java/project_alias/vehicles/ui_actions/OpenVehicleTypeMasterActionDao.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/config/ApplicationDomain.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/compound_master_menu/VehicleTypeMaster_OpenMain_MenuItem_CanAccess_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/compound_master_menu/VehicleTypeMaster_OpenVehicle_MenuItem_CanAccess_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/security/tokens/open_compound_master/OpenVehicleTypeMasterAction_CanOpen_Token.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenMain_MenuItem.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenMain_MenuItemCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenVehicle_MenuItem.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/master/menu/actions/VehicleTypeMaster_OpenVehicle_MenuItemCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/producers/VehicleProducer.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/ui_actions/OpenVehicleTypeMasterAction.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/ui_actions/OpenVehicleTypeMasterActionCo.java
  fire_services/fire_services-pojo-bl/src/main/java/project_alias/vehicles/ui_actions/producers/OpenVehicleTypeMasterActionProducer.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/WebUiConfig.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/config/vehicles/VehicleTypeWebUiConfig.java
  fire_services/fire_services-web-server/src/main/java/project_alias/webapp/config/vehicles/VehicleWebUiConfig.java
  fire_services/fire_services-web-ui/src/main/java/project_alias/main/menu/vehicles/MiVehicleTypeMaster_Vehicle.java
Labels: Vehicles
